<div class="about_wrapper">
    <h1>О нас</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio corporis architecto eum expedita debitis animi temporibus voluptatibus quo magni omnis magnam repellat eos vitae dignissimos alias nobis, assumenda similique?</p>
    <p>Optio quasi distinctio neque voluptas cum voluptates voluptatibus a error? Porro, quis assumenda animi sunt totam nemo accusantium, facere similique inventore, ut incidunt cupiditate magnam at nisi quod officia voluptatem?</p>
    <p>Nostrum eos molestias sunt tempore non nesciunt fugiat tenetur nemo debitis cupiditate natus alias quia aperiam, quis delectus qui. Vitae incidunt iste hic itaque! Eius necessitatibus libero voluptate atque unde?</p>
    <p>Quos magni officiis expedita voluptate sunt eum aliquid voluptatem necessitatibus provident, consectetur reiciendis non quo labore quia sequi molestias sint fugiat excepturi laboriosam. Maxime facere inventore ut blanditiis doloribus. Corporis!</p>
    <div class="works">
        <div class="work w1">
          <span class="img_wrap"><img src="/img/works/01.jpg" alt=""></span>
        </div>
        <div class="work w2">
          <span class="img_wrap"><img src="/img/works/02.jpg" alt=""></span>
        </div>
        <div class="work w3">
          <span class="img_wrap"><img src="/img/works/03.jpg" alt=""></span>
        </div>
        <div class="work w4">
          <span class="img_wrap"><img src="/img/works/04.jpg" alt=""></span>
        </div>
        <div class="work w5">
          <span class="img_wrap"><img src="/img/works/05.jpg" alt=""></span>
        </div>
        <div class="work w6">
          <span class="img_wrap"><img src="/img/works/06.jpg" alt=""></span>
        </div>
        <div class="work w7">
          <span class="img_wrap"><img src="/img/works/07.jpg" alt=""></span>
        </div>
        <div class="work w8">
          <span class="img_wrap"><img src="/img/works/08.jpg" alt=""></span>
        </div>
        <div class="work w9">
          <span class="img_wrap"><img src="/img/works/09.jpg" alt=""></span>
        </div>
      </div>
</div>
